@model MultiArchApp.Models.IndexModel

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello!</h1>
    <p>This app is currently running on @Model.Architecture</p>
</div>